* {
    margin: 0;
}

body {
    background: blue;
    padding: 10px;
}

#container {
    display: flex;
    background: #09143a;
    color: white;
    font-size: 15vmin;
    font-weight: bold;
    border: 1px solid white;
    margin: auto;
    box-shadow: 17px 17px 63px #050b21,-17px -17px 63px #0d1d53;
    padding: 5px;
}

#container div{
    margin: 10px;
    position: relative;
}

.secs{
    transform-origin: bottom;
    animation: rotate 1s linear infinite;
}

#container div::before{
    content: attr(data-for);
    font-size: 5vmin;
    font-weight: lighter;
    position: absolute;
    bottom: -10px;
    text-transform: capitalize;
    left: 50%;
    transform: translateX(-50%);
}

#container div::after{
    content: attr(data-active);
    animation: rotate2 1s linear infinite;
    position: absolute;
    left: 0px;
    top: opx;
    transform-origin: bottom;

}

@keyframes rotate{
    10%{
        transform: scale(1.1);
    }

    30%{
        transform: scale(1);
    }
}

@keyframes rotate2{
    to{
        transform: rotateX(-100deg);
        opacity: 0.5;
    }
}

h1{
    color: green;
    font-size: 7vmin;
    text-transform: capitalize;
}